@model FuenteDeVida.EN.Comunidad

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Comunidad</h1>

<h3>Esta seguro de eliminar una Comunidad?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComunidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComunidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadUsuario)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd>*@
    </dl>
    
        <form asp-action="Delete" asp-route-id="@Model.IdComunidad">
            <input type="hidden" asp-for="IdComunidad" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger" /> 
        <a asp-action="Index" class=" btn btn-dark">CANCELAR</a>
    </form>
    <span class=" text-danger">@ViewBag.Error</span>
</div>
