@model FuenteDeVida.EN.Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle Factura</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdFactura }, new { @class = "btn btn-primary" })
    <a asp-action="Index" class="btn btn-dark">CANCELAR</a>
</div>