@model IEnumerable<FuenteDeVida.EN.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Factura</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFactura)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComunidad)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Top_Aux)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFactura)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdComunidad)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEmision)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Top_Aux)
                    </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdFactura }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdFactura }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdFactura })
                </td>
            </tr>
        }
    </tbody>
</table>