@model FuenteDeVida.EN.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Pago</h1>
<hr />

<div>
    <dl class="row">
        @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd> *@
    </dl>
</div>
<div class="row">
    <div class=" cold-md-12">
        <div class="form-group">
            @Html.ActionLink("Ir a Modificar", "Edit", new { id = Model.IdPago}, new {@class="btn btn-info"}) 
            <a asp-action="Index" class=" btn btn-dark">CANCELAR</a>
        </div>
    </div>
</div>
