@model FuenteDeVida.EN.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Usuario</h1>

<div>
    <hr />
    <dl class="row">
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.ActionLink("Ir a modificar", "Edit", new { idUsuario = Model.IdUsuario }, new { @class = "btn btn-info" })
            <a asp-action="Index" class="btn btn-dark">CANCELAR</a>
        </div>
    </div>
</div>
