@model FuenteDeVida.EN.Rol

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Rol</h1>

<h3>¿Esta seguro de eliminar un Rol?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRol)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd>*@
    </dl>
    
        <form asp-action="Delete" asp-route-id="@Model.IdRol">
        <input type="hidden" asp-for="IdRol" />
        <button type="submit" class="btn btn-danger">ELIMINAR</button>
        <a asp-action="Index" class=" btn btn-dark">CANCELAR</a>
    </form>
    <span class=" text-danger">@ViewBag.Error</span>
</div>
