@model FuenteDeVida.EN.Cuota

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle Cuota</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCuota)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdComunidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdComunidad)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdCuota }, new { @class = "btn btn-primary" })
    <a asp-action="Index" class="btn btn-dark">CANCELAR</a>
</div>