@model FuenteDeVida.EN.Cuota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCuota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdComunidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdComunidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Top_Aux)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Top_Aux)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCuota }) |
    <a asp-action="Index">Back to List</a>
</div>