@model IEnumerable<FuenteDeVida.EN.Cuota>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuota</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCuota)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComunidad)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicio)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLimite)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Top_Aux)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCuota)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdComunidad)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoServicio)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaLimite)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Top_Aux)
                    </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdCuota }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCuota }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCuota })
                </td>
            </tr>
        }
    </tbody>
</table>